<footer class="footer">
    <div class="footer-container">
        <!-- About Section -->

        <!-- Quick Links Section -->
        <div class="footer-section links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/" class="nav-item">Home</a></li>
                <li><a href="/about" class="nav-item">About Us</a></li>
                <li><a href="/services" class="nav-item">Services</a></li>
                <li><a href="/contact" class="nav-item">Contact</a></li>
            </ul>
        </div>

        <!-- Contact Info Section -->
        <div class="footer-section contact">
            <h4>Contact Us</h4>
            <p>
                <i class="fas fa-phone"></i>9894157781
                <p>&nbsp;&nbsp; 8870856052</p>
            </p>
            <p>
                <i class="fas fa-envelope"></i> lragency@gmail.com
            </p>
            <p>
                <i class="fas fa-map-marker-alt"></i> Shop No.1, Door No.5, Viswas Nagar, Thanjavur Road, Trichy- 620008
            </p>
        </div>

        <!-- Social Media Section -->
        <div class="footer-section social">
            <h4>Follow Us</h4>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>